div {
    display: flex;
    margin-bottom: 20px;
}

section {
    flex-grow: 1;
    background: #74abcc;
}

aside {
    background: #ff6f6d;
    flex-basis: 150px;
    flex-shrink: 0;
    /* flex-shrink: 0; - предотвращает aside от сжатия, в случае если
    section пытается занять больше места из-за своего содержимого */
}